---
title: New Ideas
---

<html>

<head>
    <title>New Ideas</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name='description' content=''>

    <meta name='keywords' content='
        machine learning,
        deep learning,
        linear algebra,
        probability,
        statistics,
        finance,
        urban design,
        biology,
        history,
        football,
        fiction
    '>
    <meta name='author' content='Kilaru Yasaswi Sri Chandra Gandhi'>

    <link rel='shortcut icon' href='assets/images/alexandrosMegas.jpg' />
    <link href='/index.css' rel='stylesheet' />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2a3fa7ef-09a0-498f-afab-e07f756bd81e"></script>
    {% include seo_tags.html %}
</head>

<body>
    <article id="landing">
    <p class="mark" style="animation: fadeUp 0.6s ease 0.1s both;">❧ G7 ☙</p>
    <h1 style="animation: fadeUp 0.6s ease 0.3s both;">Kilaru Yasaswi Sri Chandra Gandhi 🌕</h1>
    <hr style="animation: drawLine 0.5s ease 0.7s both;">
    <ul id="links" style="animation: fadeUp 0.6s ease 1s both;">
        <li><a href="/writing">Writing</a></li>
        <li><a href="/reading">Reading</a></li>
    </ul>
    <li id="contact" style="animation: fadeUp 0.6s ease 1.2s both;">[<a href="https://github.com/kyscg">github</a>,
        <a href="https://twitter.com/kyscg7/with_replies">twitter</a>,
        <a href="https://www.youtube.com/@kyscg">youtube</a>,
        <a href="https://substack.com/@kyscg">substack</a>]
    </li>
</article>
</body>
    {% include footer.html %}
</html>
