#landing ul#links {
  list-style: none;
  padding-left: 0%;
}

#landing ul#links li {
  margin: 10px 0;
  font-family: 'Equity Caps', sans-serif;
}

#landing ul#links li a:link {
  color: blue;
  text-decoration: none;
}

#landing ul#links li a:visited {
  color: blue;
  text-decoration: none;
}

#landing ul#links li a:hover {
  color: green;
  text-decoration: underline;
}

#landing ul#links li#contact {
  font-family: 'Triplicate T4';
  margin-top: 20px;
  font-size: 15px;
}

#writing {
  padding: 10vh 0;
}

#writing p#nav {
  font-size: 22px;
}

#writing p#nav a:link {
  color: blue;
  text-decoration: none;
  font-family: 'Equity Caps', sans-serif;
}

#writing p#nav a:visited {
  color: blue;
  text-decoration: none;
  font-family: 'Equity Caps', sans-serif;
}

#writing p#nav a:hover {
  color: green;
  font-weight: bold;
}

#writing .post-title {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}

#writing .post-title a:link {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

#writing .post-title a:visited {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}

#writing .post-title a:hover {
  color: green;
  text-decoration: underline;
}

#writing .post-titler {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
}

#writing .post-titler a:link {
  color: blue;
  font-size: 40px;
  text-decoration: none;
}

#writing .post-titler a:visited {
  color: blue;
  font-size: 40px;
  text-decoration: none;
}

#writing .post-titler a:hover {
  color: green;
  text-decoration: underline;
}

#writing .post-date {
  font-family: 'Triplicate T4';
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

#writing .post-subtitle {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.5em;
}

.front-matter .bylines .byline h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.front-matter .bylines .byline p {
  font-size: 14px;
  font-family: 'Triplicate T4';
}

.wrap-article {
  line-height: 1.6em;
}

body {
  font-family: 'Equity Text', serif;
  background-color: rgba(251, 241, 199, 0.5);
}

blockquote {
  margin: 1.5em 0;
  padding-left: 1.2em;
  border-left: 3px solid black;
  font-style: italic;
  color: #555;
  line-height: 1.6;
}

blockquote p {
  margin: 0;
}

blockquote cite {
  display: block;
  /* Make cite a block element */
  margin-top: 0.8em;
  font-style: normal;
  font-size: 0.9em;
  color: #888;
}

blockquote:before {
  content: "\201C";
  font-size: 1.5em;
  color: #000;
  position: relative;
  top: 0.1em;
  left: -0.5em;
}

pre>code {
  font-family: 'Triplicate T4', monospace;
  font-size: 15px;
  padding: 15px;
  line-height: 1.5;
}

code {
  font-family: 'Triplicate T4', monospace;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Equity Text', sans-serif;
}

th,
td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

.figure {
  margin-top: auto;
  margin-bottom: auto;
  padding: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
}

.figure .caption {
  font-size: 0.8em;
  color: #555;
  line-height: 1.4;
  text-align: center;
}

.figure .caption .caption-label {
  font-weight: bold;
  color: #333;
  margin-right: 0.5em;
}

/* Base styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Equity Text", serif; 
  font-weight: normal; 
  line-height: 1.2; 
  margin-bottom: 0.5em; 
}

h1 {
  font-size: 2.5em; 
  margin-top: 0; 
  letter-spacing: -0.02em; 
}

h2 {
  font-size: 2em;
  margin-top: 1.5em; 
}

h3 {
  font-size: 1.75em;
  margin-top: 1.25em;
  font-style: italic;
}

h4 {
  font-size: 1.5em;
  margin-top: 1em;
  border-bottom: 1px solid #ddd; /* a line because I've run out of ideas */
  padding-bottom: 0.2em;
}

h5 {
  font-size: 1.25em;
  margin-top: 1em;
  font-variant-caps: small-caps; 
}

h6 {
  font-size: 1em;
  margin-top: 1em;
  font-weight: bold; 
}

#cats a:link {
  color: blue;
}

#cats {
  font-family: 'Triplicate T4', monospace;
  text-align: center;
  padding: 15px 0;
}

#cats a:visited {
  color: blue;
}

#cats a:hover {
  color: green;
}

.wrap-article a:link {
  color: blue;
  text-decoration: none;
}

.wrap-article a:visited {
  color: blue;
  text-decoration: none;
}

.wrap-article a:hover {
  color: green;
}

.wrap-article p {
  text-align: justify;
}

.task-list {
  list-style: none;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #a89a85;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
}

input[type="checkbox"]:checked {
  background-color: #caeec2;
  border-color: #caeec2;
}

article {
  margin: 0 auto;
  max-width: 80%;
  padding: 40vh 0;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Triplicate T4";
  src: url("/assets/fonts/MBType/Triplicate T4 Code Regular.otf") format("opentype"),
    url("/assets/fonts/MBType/Triplicate T4 Code Regular.ttf") format("truetype"),
    url("/assets/fonts/MBType/Triplicate T4 Code Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Equity Text";
  src: url("/assets/fonts/EBGaramond/EBGaramond12-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "liga" 1, "kern" 1;
}

@font-face {
  font-family: "Equity Text";
  src: url("/assets/fonts/EBGaramond/EBGaramond12-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-feature-settings: "liga" 1, "kern" 1;
}

@font-face {
  font-family: "Equity Text";
  src: url("/assets/fonts/EBGaramond/EBGaramond08-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "liga" 1, "kern" 1;
}

@font-face {
  font-family: "Equity Caps";
  src: url("/assets/fonts/EBGaramond/EBGaramond12-SC.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "liga" 1, "kern" 1;
}

.highlight {
  background-color: rgba(251, 241, 199);
  border-radius: 20px;
  padding: 0.25em;
}

.highlight pre {
  margin-left: 1.5em;
  overflow-x: auto;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight,
.highlight .w {
  color: #282828;
  /*background-color: #fbf1c7;*/
}

.highlight .err {
  color: #9d0006;
  /*background-color: #fbf1c7;*/
  font-weight: bold;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #928374;
  font-style: italic;
}

.highlight .cp {
  color: #427b58;
}

.highlight .nt {
  color: #9d0006;
}

.highlight .o,
.highlight .ow {
  color: #282828;
}

.highlight .p,
.highlight .pi {
  color: #282828;
}

.highlight .gi {
  color: #79740e;
  background-color: #fbf1c7;
}

.highlight .gd {
  color: #9d0006;
  background-color: #fbf1c7;
}

.highlight .gh {
  color: #79740e;
  font-weight: bold;
}

.highlight .ge {
  font-style: italic;
}

.highlight .ges {
  font-weight: bold;
  font-style: italic;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #9d0006;
}

.highlight .kc {
  color: #8f3f71;
}

.highlight .kt {
  color: #b57614;
}

.highlight .kd {
  color: #af3a03;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color: #79740e;
  font-style: italic;
}

.highlight .si {
  color: #79740e;
  font-style: italic;
}

.highlight .sr {
  color: #79740e;
  font-style: italic;
}

.highlight .sa {
  color: #9d0006;
}

.highlight .se {
  color: #af3a03;
}

.highlight .nn {
  color: #427b58;
}

.highlight .nc {
  color: #427b58;
}

.highlight .no {
  color: #8f3f71;
}

.highlight .na {
  color: #79740e;
}

.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #8f3f71;
}

.highlight .ss {
  color: #076678;
}
